pre-commit
einops
huggingface_hub
imageio
numpy<2
opencv-python
open3d
fastapi
uvicorn
requests
typer
pillow
omegaconf
pillow_heif
safetensors


# 4090Wan
moviepy==1.0.3
plyfile
pycolmap
trimesh
evo
e3nn
glob2